@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

.font_Nanum_Gothic{font-family: 'Nanum Gothic', sans-serif;}
.font_Noto_Serif_KR{font-family: 'Noto Serif KR', serif;}
.font_Noto_Sans_KR{font-family: 'Noto Sans KR', sans-serif;}
.font_Nanum_Gothic_Coding{font-family: 'Nanum Gothic Coding', monospace;}
#chatbot{
    float: right;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 0px;
    border-radius: 30px;
/*    box-shadow: 3px 3px 1px darkgrey;*/
}
.chat-float{
    position:fixed;
    bottom:150px;
    right:150px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}
#main-page{
    text-align: center;
}
#main-title{
    padding: 50px;
}
.main-img{
    padding: 5%;
    color: black;
    cursor: pointer;
}
.main-select {
    color: black;
}
#main-streaming-container {
    width : 70%;
    padding : 3% 2% 2% 3%;
    display:inline-block;
}
.main-video-container {
    width: 100%;
    height:100%;
    margin: 0 auto;
    display: inline-block;
}
.main-video-component {
    margin: auto;
    width: 100%;
    height :100%;
    background-color : black
}
.main-visible-div {
    text-align: center;
    width: 25%;
}
.main-gobtn {
    background: #1e7e34;
    color: white;
}
.main-login {
    color: red;
    padding: 20px;
}
.main_container{
    height: 800px;
    display: flex;
}
.main_divider_left{
    width: 45%;
    height: 100%;
    background-color: #1b5836;
    float : left;
    z-index: 1;
}
.main_student_label{
    width: 55%;
    height: 13%;
    margin-top: 5%;
    border-right: 20px solid #00365A;
    border-top: 120px solid  transparent;
    background-color: #ffffff;
    float: right;
    position: fixed;
    z-index:2;
}
.main_divider_right{
    width: 55%;
    height: 100%;
    border-left: 100px solid #1b5836;
    border-bottom: 800px solid  #00365A;
    background-color: #0b2e13;
    float: right;
    z-index: 0;
}
.main_teacher_label{
    width: 60%;
    height: 13%;
    margin-top: 44%;
    border-left: 20px solid #1b5836;
    border-bottom: 120px solid  transparent;
    background-color: #ffffff;
    float: right;
    position: fixed;
    left: 45%;
    z-index:2;
}
.student_classification_div{
    width : 17%;
    height : 6%;
    border : 2px solid #1c7430;
    position: absolute;
    top : 26%;
    left: 5%;
}
.student_button{
    width: 110%;
    height: 100%;
    margin-left: -17%;
    margin-top: -5%;
    background-color: #4bba64;
    border: 2px solid #1c7430;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: white;
}
.student_button:hover{
    background-color: rgba(36, 76, 41, 0.78);
}
.teacher_classification_div{
    width : 17%;
    height : 6%;
    border : 2px solid #285c7f;
    position: absolute;
    top : 58%;
    right: 5%;
    z-index:2;
}
.teacher_button{
    width: 100%;
    height: 100%;
    margin-right: -15%;
    margin-top: 4%;
    background-color: #4388b6;
    border: 2px solid #285c7f;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: white;
}
.teacher_button:hover{
    background-color: rgba(23, 54, 75, 0.71);
}
.student_login_box{
    width: 33%;
    height: 30%;
    position: absolute;
    top : 35%;
    left : 7%;
}
.teacher_login_box{
    width: 33%;
    height: 30%;
    position: absolute;
    top : 35%;
    right : 7%;
}
.input_idbox{
    width: 40%;
    height: 10%;
    background-color: white;
    border: #0a1d0f 1px solid;
}